body
{
    box-sizing: border-box;
    background: rgb(41, 41, 41);;
    color: white;
    font-family: "Nata Sans", sans-serif;
}
.header .container
{
    background: rgb(70, 70, 70);
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header__logo
{
    padding: 10px 0 0 0 ;
    height: 80%;
    width: auto;
}
.header li
{
    list-style: none;
    margin: 0 10px 0 0;
}
.header__nav-button
{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.separator::before
{
    content: "| ";
}
.header__nav-button:hover
{
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}
.header__nav
{
    display: flex;
    align-items: center;
}
.container
{
    padding: 0% 10%;
}
.news__card
{
    border-radius: 5px;
    background: rgb(70, 70, 70);
    padding: 20px 20px 30px 20px;
    margin: 20px 0px;
}
.news__card-title
{
    font-size: 32px;
}
.news__card-text
{
    font-size: 18px;
    margin: 0px 0px 30px 0px;
}
.news__card-datetime
{
    color: rgba(255, 255, 255, 0.7);
}
.news__card-img
{
    width: 100%;
    height: auto;
}
.news__card-body 
{
    margin: 10px 0 0 0;
}

.news__card-more
{
    margin: 20px 0px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.news__card-more:hover
{
    background: white;
    color:rgb(70, 70, 70);
    cursor: pointer;
    transition: 0.2s;
}
.footer
{
    background: rgb(31, 31, 31);
}
.footer__nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__nav-link
{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.7);
}
.footer__nav-link:hover
{
    color: white;
    transition: 0.2s;
}
.copyright
{

    padding: 0 0 10px 0;
    margin: 30px 0px 0px;
    text-align: center;
    color:rgb(70, 70, 70);
}

